body{
    margin:0;
    display:flex;
    font-family:Arial,sans-serif;
    background:#f5f0e8;
}

.sidebar{
    width:220px;
    height:100vh;

    background:#d8c3a5;

    padding:20px;

    box-sizing:border-box;
}

.sidebar input{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    box-sizing:border-box;
}

.sidebar button{
    width:100%;
    padding:10px;

    border:none;

    border-radius:8px;

    cursor:pointer;
}

.content{
    flex:1;
    padding:30px;
}

.calendar{
    background:white;

    padding:20px;

    border-radius:15px;

    margin-bottom:30px;
}

.calendar-grid{
    display:grid;

    grid-template-columns:repeat(7,1fr);

    gap:10px;
}

.day{

    min-height:80px;

    background:#f8f6f2;

    border-radius:10px;

    padding:5px;

    font-weight:bold;
}

.event{

    margin-top:4px;

    background:#d8c3a5;

    padding:2px 5px;

    border-radius:5px;

    font-size:12px;
}

.room{

    background:white;

    border-radius:15px;

    padding:15px;

    margin-bottom:15px;

    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.room input{

    padding:8px;

    margin:5px;
}

.room button{

    padding:8px;
}
